<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Post' %>
  </div>
<% end %>

<h2>Messages</h2>
<% if @posts.empty? %>
  <p>No messages. :(</p>
  <p>You should post one!</p>
<% else %>
  <ol class="post-list">
    <% @posts.each do |post| %>
      <li>
        <p class="post-body">
          <%= post.body %>
        </p>
        <div class="post-timestamp">
          <%= time_ago_in_words(post.created_at) %> ago
        </div>
      </li>
    <% end %>
  </ol>
<% end %>
